<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-center alert-success">
            <h1 style="font-family: Docktrin;">Your Account Was Created Successfully</h1>
            <p class="fs-5">You can now log in to your account using your credentials</p>
            <hr />
            <p class="fs-5">Thank you!</p>
        </div>
    </div>
</div>
