<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h1 style="text-align: center; font-family: Docktrin;">Your Account Was Created Successfully</h1>
        <p style="font-size: large">You can now log in to your account using your credentials</p>
        <hr />
        <p style="font-size: larger">Thank you!</p>
    </div>
</div>