@model List<Order>

@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1">
        <h1 class="text-center" style="font-family: Docktrin;">List of All Your Orders</h1>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul class="list-unstyled">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info p-2" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [$@item.Price] - @item.Movie.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            $@order.OrderItems.Select(m => m.Movie.Price * m.Amount).Sum()
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle">@order.User.FullName </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
