<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h1 style="text-align: center; font-family: Docktrin;">Order Complete Successfully</h1>
        <p style="font-size: large">You can check all your orders in the Orders sectino of your profile</p>
        <hr />
        <p style="font-size: larger">Thank you!</p>
    </div>
</div>