<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-3 offset-md-2 offset-sm-1 alert alert-success text-center">
        <h1 style="font-family: Docktrin;">Order Complete Successfully</h1>
        <p class="fs-5">You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p class="fs-4">Thank you!</p>
    </div>
</div>
