html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.background-image {
    position: relative;
    width: 100%;
    height: 600px; /* Высота фона */
    background-image: url('/images/MacTMapBgHD.gif');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Логотип в центре экрана */
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
}

    /* Увеличенный логотип */
    .logo-container img {
        max-width: 55%; /* Увеличенный размер логотипа */
        height: auto;
    }

/* Скрытие логотипа на планшетах и мобильных устройствах */
@media (max-width: 992px) {
    .logo-container {
        display: none;
    }

    .background-image {
        height: 300px; /* Уменьшенная высота для мобильных устройств */
    }
}

/* Содержимое страницы */
.content-wrapper {
    position: relative;
    z-index: 1;
    margin-top: 0; /* Убираем лишний отступ сверху */
    padding-top: 0; /* Убираем лишний padding */
}

.offcanvas {
    background-color: black; /* Черный фон */
    color: white; /* Белый текст */
}

    .offcanvas .btn-close {
        filter: invert(1); /* Инвертирует цвет кнопки закрытия для видимости на темном фоне */
    }

@media (max-width: 768px) {
    .content-wrapper {
        margin-top: 0;
        padding-top: 20px;
    }
}
